.logos{
    display: flex;
    margin: 20px auto;
    margin-bottom: 100px;
    width: 1142px;
    justify-content: space-around;
    align-items: center;
}

.logos .logo-1 img{
    width: 69px;
    height: 48px;
}
.logos .logo-2 img{
    width: 152px;
    height: 44px;
}
.logos .logo-3 img{
    width: 162px;
    height: 64px;
}
.logos .logo-4 img{
    width: 162px;
    height: 64px;
}
.logos .logo-5 img{
    width:68px;
    height: 64px;
}
.logos .logo-6 img{
    width: 127px;
    height: 44px;
}