.unique-files {
    text-align: center;
    margin-top: 100px;
}
.unique-files .header-elements .first-title{
    background:linear-gradient(to right, #1EE1E2, #101212) ;
    color: white;
    font-family: $font-naem;
    font-weight: 500;
    text-transform: capitalize;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 20px auto;
}

.unique-files .header-elements .second-title{
    font-size: 40;
    font-family: $font-naem;
}
.unique-files .header-elements .second-title span{
    color: #1EE1E2;
    font-style: italic;
    font-weight: 400;
}

.boxs{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 624px);
    grid-template-rows: repeat(2, 216px);
    row-gap: 50px;
    column-gap: 20px;
}
.boxs .box{
    background-color: #0D0D2D;
    border-radius: 16px;
    position: relative;
    padding-top: 60px;
    padding-left: 40px;

}

.boxs .box h1{
    text-align: left;
    font-family: $font-naem;
    font-weight: 700;
    font-size: 22;
    margin-bottom: 25px;
}

.boxs .box p{
    text-align: left;
    width: 487px;
    font-size: 22;
    // font-weight: 500;
}

.boxs .box .box-img-1 img{
//    border: 1px solid red;
   position: absolute;
   top: -50;
   right: 0;
   width: 150px;
   padding: 30px;
   background-color: #05021D;
    border-radius: 16px;
    border-bottom-right-radius: 0;
}